<section id="smartphone" class="container-fluid pt-5 pb-5">
  <h1 class="text-white text-center">BEST SMARTPHONE</h1>
  <div class="row">
    <app-baitap4-item-cart-smartphone></app-baitap4-item-cart-smartphone>
    <app-baitap4-item-cart-smartphone></app-baitap4-item-cart-smartphone>
    <app-baitap4-item-cart-smartphone></app-baitap4-item-cart-smartphone>
    <app-baitap4-item-cart-smartphone></app-baitap4-item-cart-smartphone>
  </div>
</section>

<section id="laptop" class="container-fluid pt-5 pb-5 bg-light text-dark">
  <h1 class="text-center">BEST LAPTOP</h1>
  <div class="row">
      <app-baitap4-item-cart-laptop></app-baitap4-item-cart-laptop>
      <app-baitap4-item-cart-laptop></app-baitap4-item-cart-laptop>
      <app-baitap4-item-cart-laptop></app-baitap4-item-cart-laptop>
      <app-baitap4-item-cart-laptop></app-baitap4-item-cart-laptop>
  </div>
</section>
